html{
    font-size: 16px;
}
body{
    font-size: 1rem;
    color: #745a82;
    background-color: #fff;
}
.header{
    background: url("imgs/header-bg.png") repeat-x 0 0 transparent;
    height: 8rem; /*128*/
    z-index: 2;
}
.navigation-menu .menu-item{
    float: left;
    margin-right: 3rem;
    list-style: none;
}
.navigation-menu .menu-item a{
    color:inherit;
}
.footer{
    background: url("imgs/footer-bg.png") repeat-x 0 0 transparent;
    height: 4.125rem; /*66*/
    margin-top:15rem; /*240*/
}

.circle{
    border-radius: 50%;
}
.home-intro{
    padding-top: 8rem; /*128*/
    background: url("imgs/intro.jpg") no-repeat center center transparent;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.home-intro .circle-design{
    margin: 5.625em auto 4.8125em; /*90 77*/
    width: 44.125em; /*706*/
    height: 44.125em; /*706*/
    position: relative;
}

.circle-design .bg-1{
    background-color: rgba(203, 210, 210, 0.57);
    box-shadow: rgba(2, 4, 0, 0.2) 0.3125em 0em 2.6875em; /*5 43*/
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.circle-design .bg-2{
    background-color: rgba(213, 220, 220, 1);
    box-shadow: rgba(2, 4, 0, 0.2) 0.3125em 0em 2.6875em; /*5 43*/
    width: 89.66%;
    height: 89.66%;
    z-index: 2;
    position: absolute;
    top: 5.17%;
    left: 5.17%;
}

.circle-design .bg-3{
    background-color: rgba(255, 255, 255, 1);
    width: 76.06%;
    height: 76.06%;
    z-index: 3;
    position: absolute;
    top: 11.97%;
    left: 11.97%;
}

.circle-design .border-1{
    background-color: transparent;
    border: solid 1px #bfb7c8;
    width: 81.86%;
    height: 81.86%;
    z-index: 4;
    position: relative;
    top: 9.07%;
    left: 9.07%;
}

.circle-design .border-2{
    background-color: transparent;
    border: solid 1px #91839f;
    width: 76.48%;
    height: 76.48%;
    z-index: 5;
    position: absolute;
    top: 11.76%;
    left: 11.76%;
}

.circle-design .border-3{
    background-color: transparent;
    border: solid 2px #6d5a80;
    width: 69.40%;
    height: 69.40%;
    z-index: 6;
    position: absolute;
    top: 15.3%;
    left: 15.3%;
}

.circle-design .content{
    background-color: transparent;
    width: 60%;
    height: 60%;
    z-index: 7;
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: center;
}

.pin{
    width: 1.625em;  /*26*/
    height: 1.625em;  /*26*/
    background-color: #745a82;
    position: absolute;
}
.pin.top{
    top: 4.45em;
}
.pin.bottom{
    bottom: 4.5em;
}
.pin.right{
    right: 4.45em;
}
.pin.left{
    left: 4.5em;
}
.meet-header{
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.meet-header-bg{
    position: absolute;
    width: 112.5rem; /*1800*/
    height: 112.5rem; /*1800*/
    background-color: #ebf2f2;
    bottom: 0;
    left: 50%;
    margin-left: -56.25rem; /*900*/
    z-index: 0;
}
.meet-header-text{
    position: relative;
    z-index: 1;
    text-align: center;
}
.yoga-class{
    width: 18.5rem; /*270*/
}
.class-image{
    overflow: hidden;
    width: 16.875rem; /*270*/
    height: 16.875rem; /*270*/
    background-size: cover;
    background-position: center;
}
.class-text{
    border-bottom: solid 2px #ac9cb4;
}