html{
    font-size: 16px;
}
body{
    font-size: 1em;
}
.uppercase{
    text-transform: uppercase;
}
.header{
    background: url("imgs/header-bg.png") repeat-x 0 0 transparent;
    height: 8em; /*128*/
    z-index: 10;
    top: 0;
    position: fixed;
}
.navigation-menu .menu-item{
    float: left;
    margin-right: 3em;
    list-style: none;
    margin-top: 2em;
}
a, a:hover, a:visited{
    color:inherit;
}
.footer{
    background: url("imgs/footer-bg.png") repeat-x 0 0 transparent;
    height: 4.125em; /*66*/
    margin-top:15em; /*240*/
}

.circle{
    border-radius: 50%;
}
.home-intro, .classes-intro{
    padding-top: 8em; /*128*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.classes-intro{
    background-position: top center;
    overflow: hidden;
}
.home-intro .circle-design{
    margin: 5.625em auto 4.8125em; /*90 77*/
    width: 44.125em; /*706*/
    height: 44.125em; /*706*/
    position: relative;
}
.classes-intro .circle-design{
    margin: 0;
    width: 36%;
    padding-top: 36%;
    position: absolute;
    z-index: 1;
    top: 2em;
    left: 2em;
}
.class-details .circle-design{
    margin: 0;
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-top: 4em;
}
.shadow{
    box-shadow: 0.3125em 0em 2.6875em rgba(2, 4, 0, 0.2);
}
.circle-design .bg-1{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.circle-design .bg-2{
    width: 89.66%;
    height: 89.66%;
    z-index: 2;
    position: absolute;
    top: 5.17%;
    left: 5.17%;
}

.circle-design .bg-3{
    width: 76.06%;
    height: 76.06%;
    z-index: 3;
    position: absolute;
    top: 11.97%;
    left: 11.97%;
}

.circle-design.offer .bg-3,
.class-details .circle-design .bg3{
    width: 60.00%;
    height: 60.00%;
    top: 20%;
    left: 20%;
}

.circle-design .border-1{
    border: solid 1px #bfb7c8;
    width: 81.86%;
    height: 81.86%;
    z-index: 4;
    position: relative;
    top: 9.07%;
    left: 9.07%;
}
.circle-design.offer .border-1,
.class-details .circle-design .border-1{
    position: absolute;
}

.circle-design .border-2{
    border: solid 1px #91839f;
    width: 76.48%;
    height: 76.48%;
    z-index: 5;
    position: absolute;
    top: 11.76%;
    left: 11.76%;
}

.circle-design .border-3{
    border: solid 2px #6d5a80;
    width: 69.40%;
    height: 69.40%;
    z-index: 6;
    position: absolute;
    top: 15.3%;
    left: 15.3%;
}

.circle-design .content{
    width: 60%;
    height: 60%;
    z-index: 7;
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: center;
}

.pin{
    width: 4%;  /*26*/
    padding-top: 4%;  /*26*/
    position: absolute;
}
.pin.top{
    top: 12.5%;
}
.pin.bottom{
    bottom: 12.5%;
}
.pin.right{
    right: 12.5%;
}
.pin.left{
    left: 12.5%;
}
.meet-header{
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.meet-header-bg{
    position: absolute;
    width: 112.5em; /*1800*/
    height: 112.5em; /*1800*/
    bottom: 0;
    left: 50%;
    margin-left: -56.25em; /*900*/
    z-index: 0;
}
.meet-header-text{
    position: relative;
    z-index: 1;
    text-align: center;
}
.yoga-class{
    width: 18.6em; /*270*/
}
.class-image{
    overflow: hidden;
    width: 16.875em; /*270*/
    height: 16.875em; /*270*/
    background-size: cover;
    background-position: center;
}
.class-text{
    border-bottom: solid 2px #ac9cb4;
    overflow-wrap: break-word;
}

.square-circle-design{
    position: relative;
    width: 150%;
    margin-left: -25%;
    overflow: hidden;
    z-index: 0;
}
.square-circle-design .placeholder{
    width: 100%;
    padding-top: 50%;
    background: #fff;
    position: relative;
    z-index: 0;
}
.square-circle-design .circle1{
    margin: 0 auto;
    width: 100%;
    padding-top: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
}
.square-circle-design .circle2{
    width: 92%;
    padding-top: 100%;
    position: absolute;
    z-index: 2;
    margin-left: 4%;
    top: 2.5em;
}
.square-circle-design .circle3{
    border-radius: 50% 50% 0 0;
    width: 86%;
    left: 7%;
    padding-top: 100%;
    position: absolute;
    z-index: 3;
    background-position: top center;
    background-size: 82% auto;
    background-repeat: no-repeat;
    top: 5em;
}

.circle-design.offer .border-1{
    border: solid 1px #7c618a;
}
.intro-text{
    position: absolute;
    z-index: 4;
    top: 47%;
    left: 12%;
}
.circle-design .class-image{
    width: 100%;
    height: 100%;
}
.class-details{
    position: relative;
    overflow: hidden;
}
.class-details .bg{
    position: absolute;
    width: 100%;
    height: 130%;
    top: 0;
    z-index: 0;
}
.class-details.left .bg{
    border-radius: 50% 0 0 0;
}
.class-details.right .bg{
    border-radius: 0 50% 0 0;
}
.class-details.left{
    direction: rtl;
}
.class-details.left .image,
.class-details.left .text{
    direction: ltr;
}
.class-details .text{
    text-align: left;
    padding-top: 8.5em;
    padding-left: 4.5em;
}
.class-details .text .class-text{
    width: 74%;
}
.class-details .text .start-date{
    float: left;
    margin-right: 4.5em;
}
.class-details .text .price{
    float: none;
}
.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.class-details .vertical-text{
    margin-top: -4.5em;
}
.offer-content{
    margin-top: 15%;
}